#aboutUs{
  padding-top: 50px;
  .about{
    padding-top: 112px;
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #19272E;
    margin-bottom: 20px;
  }
  .aboutUs{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 112px;
    &--desc{
      width: 470px;
      p{
        font-weight: 400;
        font-size: 18px;
        line-height: 140%;
        color: #19272E;

      }
    }
  }
}
@media (max-width: 1440px) {
  .container{
    width: 80%;
  }
}

@media (max-width: 1024px) {
  #aboutUs {
    .aboutUs--photo__img {
      width: 450px;
    }

    .aboutUs {
      &--desc {
        width: 350px;
      }
    }
  }
}

@media (max-width: 970px) {
  #aboutUs{
    .about {
      font-size: 44px;
    }
    .aboutUs{
      &--photo{
        &__img{
          Width: 400px;
          Height: 440px;
        }
      }
      &--desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          width: 400px;
        }
      }
    }
  }
}

@media (max-width: 840px) {
  #aboutUs {
    .aboutUs {
      &--desc {
        p {
          font-size: 16px;
          width: 300px;
        }
      }
    }
  }
}

@media (max-width: 820px) {
  #aboutUs{
    .aboutUs{
      display: flex;
      flex-direction: column;
      &--photo{
        &__img{
          Width: 500px;
          //Height: 340px;
        }
      }
      &--desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          width: 430px;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  #aboutUs{
    padding-top: 0;
    .aboutUs{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 64px;
      &--photo{
        &__img{
          Width: 300px;
          Height: 300px;
        }
      }
      &--desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 16px;
          width: 350px;
        }
      }
    }
    .about{
      padding-top: 64px;
      margin-bottom: 0;
      font-size: 26px;
    }
  }

}

@media (max-width: 440px) {
  #aboutUs {
    .aboutUs {
      &--desc {
        p {
        width: 300px;
        }
      }
    }
  }
}
@media (max-width: 376px) {
  #aboutUs {
    .aboutUs {
      &--desc {
        p {
        width: 280px;
        }
      }
    }
  }
}
@media (max-width: 350px) {
  #aboutUs {
    .aboutUs {
      &--photo__img {
        width: 250px !important;
      }
      &--desc {
        p {
        width: 250px;
        }
      }
    }
  }
}
