#header{
  box-shadow: 3px 2px 10px grey;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 2;
  backdrop-filter: blur(10px);
  .header {
    display: flex;
    //align-items: center;
    justify-content: space-between;
    padding: 30px 0;
    &--title {
      display: flex;

      a {
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        color: #19272E;
        text-decoration: none;
        margin: 0 15px;


      }
      .active {
        font-weight: 600;
        font-size: 17px;

        color: #818EEA;

      }
      &__bag{
        font-size: 23px;
        color: #19272E;
        margin-left: 50px;
      }
    }
    &--search{
      display: flex;
      justify-content: end;
      align-items: center;
      color: black;
      &__icon{
        margin-right: -18%;
        height: 35px;
        background: #e8e5e5;
        display: flex;
        align-items: center;
        border-radius: 10px;
        transition: .5s;
        cursor: pointer;
        input {
          width: 0;
          height: 35px;
          border: none;
          outline: none;
          background: transparent;
          margin-left: 10px;
          transition: .5s;
          color: #807b7b;
        }
        &--bs{
          font-size: 18px;
          margin-left: 5px;
        }
      }
  }
  }
}
  .mobile_btn {
    display: none;
    cursor: pointer;
  }

@media (max-width: 1140px) {
    .container{
      width: 90%;
    }
}
@media (min-width: 1025px) {
  #header {
    .header {
      &--title {
        gap: 32px;
        flex-direction: row;
        align-items: center;
        .header--nav {
          display: flex;
        }
      }
      &--search {
        top: -24%;
        right: 8%;
      }
    }
    .search-box {
      top: -24%;
      right: 8%;
    }
  }
}
@media (max-width: 800px) {
  .mobile_btn {
    display: block;
    position: absolute;
    right: 5px;
    top: 32px;
    cursor: pointer;
    z-index: 10;
  }

  .header--nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    position: fixed;
    left: -100%;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #f8f8f8;
    z-index: 10;
    transition: left 0.7s;

  }

  .active {
    left: 0;
  }

  .menu a {
    font-size: 28px;
  }
}
@media (max-width: 768px) {
    #header {
      .header {
        &--title {
          flex-direction: column;
          align-items: center;
          text-align: center;
          .header--nav {
            //display: none;
          }
        }
        &--search {
          //display: none;
        }
      }
      .search-box {
        display: none;
      }
    }
  }
@media (min-width: 769px) and (max-width: 1024px) {
    #header {
      .header {
        &--title {
          display: flex;
        }
        &--search {
          top: -14%;
          right: 3%;
        }
      }
      .search-box {
        top: -20%;
        right: 10%;
      }
    }

  }
@media (max-width: 450px) {
  
}