#book {
  background: url("../../img/The.png") no-repeat center/cover;
  margin: 35px 0;
  padding: 80px;
  .book {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-weight: 600;
      font-size: 45px;
      color: #FFFFFF;
      align-items: center;
      text-align: center;
      margin: 20px 0;
    }
    p {
      text-align: center;
      font-weight: 400;
      font-size: 18px;
      color: #19272E;
    }
  }
}


@media (max-width: 992px) {
  #book{
    .container{
      .book{
        h1{
          font-size: 40px;
        }
      }
    }
  }

}


@media (max-width: 768px) {
  #book{
    padding: 0;

    .container{
      .book{
        h1{
          font-size: 35px;
        }
      }
    }
  }

}
@media (max-width: 755px) {
  #book{
    padding: 0;

    .container{
      .book{
        h1{
          font-size: 26px;
        }
      }
    }
  }

}
@media (max-width: 576px) {
  #book{
    padding: 0;

    .container{
      .book{
        h1{
          font-size: 27px;
        }
        p{
          margin: 0 60px;
        }
      }
    }
  }

}
@media (max-width: 451px) {
  #book{
    padding: 0;

    .container{
      .book{
        h1{
          font-size: 25px;
        }
p{
  font-size: 16px;
  margin: 0 50px;
}
      }
    }
  }

}
@media (max-width: 400px) {
  #book{
    padding: 0;

    .container{
      .book{
        h1{
          font-size: 20px;
        }
        p{
          font-size: 15px;
          margin: 0 20px;
        }

      }
    }
  }

}
@media (max-width: 376px) {
  #book{
    padding: 0;
    .container{
      .book{
        h1{
          font-size: 20px;
        }
        p{
          margin: 0 40px;
        }
      }
    }
  }

}
@media (max-width: 320px) {
  #book{
    padding: 0;
    .container{
      .book{
        h1{
          font-size: 20px;
        }
        p{

        }
      }
    }
  }

}