*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
